<div id="calendarContainer" class="container">
    <div ng-model="dates">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1 calendar-date-month" ng-click="previousDates()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </div>
            <div class="col-md-8 calendar-date-month popover-wrapper">
                <a href="#" editable-select="period.month" buttons="no" e-ng-options="m.value as m.text for m in months">
                    {{ '{{showMonth()}}' }}
                </a>
                <a href="#" editable-select="period.year" buttons="no" e-ng-options="y.value as y.text for y in years">
                    {{ '{{showYear()}}' }}
                </a>
            </div>
            <div class="col-md-1 calendar-date-month" ng-click="nextDates()">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">Price and Availabilty</div>
            <div ng-repeat="date in dates" class="col-md-1 calendar-date-day">{{ "{{date | date:'EEE'}}" }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div ng-repeat="date in dates" class="col-md-1 calendar-date-number">{{ "{{date | date:'d'}}" }}</div>
        </div>
    </div>
    <div ng-model="roomTypes">
        <div ng-repeat="roomType in roomTypes">
            <div class="row calendar-room-type room-type-row">
                <div class="col-md-12">{{ '{{roomType.name}}' }}</div>
            </div>
            <div ng-model="dates" class="row">
                <div class="col-md-2 price-availability-cell">Rooms Available</div>
                <div ng-repeat="date in dates" class="col-md-1 calendar-room-availability price-availability-cell popover-wrapper">
                    <div ng-show="calendar.calendar[date][roomType.type].availability">
                        <a href="#" editable-text="calendar.calendar[date][roomType.type].availability" e-label="Availability: " onbeforesave="updateAvailability(roomType.type, date, $data)">
                            {{ "{{calendar.calendar[date][roomType.type].availability}}" }}
                        </a>
                    </div>
                    <div ng-hide="calendar.calendar[date][roomType.type].availability">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div ng-model="dates" class="row price-availability-row">
                <div class="col-md-2 price-availability-cell">Room Price (IDR)</div>
                <div ng-repeat="date in dates" class="col-md-1 calendar-room-price price-availability-cell popover-wrapper">
                    <div ng-show="calendar.calendar[date][roomType.type].price">
                        <a href="#" editable-text="calendar.calendar[date][roomType.type].price" e-label="Price: " onbeforesave="updatePrice(roomType.type, date, $data)">
                            {{ "{{calendar.calendar[date][roomType.type].price}}" }}
                        </a>
                    </div>
                    <div ng-hide="calendar.calendar[date][roomType.type].price">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
